    <aside class="widget sparkling-social">
        <h3 class="widget-title">Follow me</h3>
        <!-- social icons -->
        <div class="social-icons sticky-sidebar-social">
            <div class="social-icons sticky-sidebar-social">
                <nav id="menu-social" class="social-icons">
                    <ul id="menu-social-items" class="social-menu">
                        <li><a href="https://github.com/phoenixqm" title="Github" class="rss" target="_blank"><i class="social_icon fa fa-github"><span>Github</span></i></a></li>
                        <li><a href="http://weibo.com/phoenixqm" title="Weibo" class="youtube" target="_blank"><i class="social_icon fa fa-weibo"><span>Weibo</span></i></a></li>
                        <li><a href="https://twitter.com/phoenixqm" title="Twitter" class="twitter" target="_blank"><i class="social_icon fa fa-twitter"><span>Twitter</span></i></a></li>
                        <!-- <li><a href="googleplus post TODO" title="Google+" class="googleplus" target="_blank"><i class="social_icon fa fa-googleplus"><span>GooglePlus</span></i></a></li> -->
                        <li><a href="/app/about.html#wechatQr" title="Wechat" class="wechat" target="_blank"><i class="fa fa-weixin"><span>Wechat</span></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- end social icons -->
    </aside>