
<div class="main-content-inner col-sm-12 col-md-8">
    <div id="primary" class="content-area">
        <div id="main" class="site-main" role="main">

            <article class="post sticky hentry">
                <div class="blog-item-wrap">

                    <div ng-repeat="post in posts" id="itemtemplate" class="post-inner-content" >
                        <header class="entry-header page-header">
                            <h2 class="entry-title"><a href="post.html?key={{post.key}}" rel="bookmark">
                              {{post.title}}
                            </a></h2>
                            <div class="entry-meta">
                                <span class="posted-on"><i class="fa fa-calendar"></i>
                                    <a rel="bookmark"><time class="entry-date published">{{post.time}}</time></a>
                                </span>
                            </div><!-- .entry-meta -->
                        </header>
                        <div class="entry-content"><p>
                          {{post.summary}}
                        </p></div>

                    </div>


                </div>
            </article>
        </div><!--#main-->
    </div><!--#primary-->
</div>

